<!DOCTYPE html>
<html lang="en">
<head>
  <title>Choreographies</title>
  <link rel="stylesheet" href="all.css">
  <style>
    #choreoMenu{
      width: 400px;
      height: 600px;
      background-color: lightgrey;
      border-radius: 20px;
      margin: auto;
      padding: 20px;
    }
  </style>
</head>
<body>
  <h1>— Edit Choreographies! —</h1>
  <h3>Username: <span id="username"><%=username%></span></h3>
  <a href="/index"><div class="clickable"><div class="vertAlignDiv"><b>View Choreographies</b></div></div></a>
  <a href="/login"><div class="clickable"><div class="vertAlignDiv"><b>Edit Choreographies</b></div></div></a>
  <div id="choreoMenu">
    <h3>Nothing to see here (yet)</h3>
  </div>
  <a href="/"><div class="clickable"><div class="vertAlignDiv"><b>Log Out and return to Homepage</b></div></div></a>
</body>

</html>
