<!DOCTYPE html>
<html lang="en">
<head>
  <title>ChoreoMap: Edit Choreographies</title>
  <link rel="stylesheet" href="all.css">
  <link rel="icon" href="https://image.freepik.com/free-icon/musical-notes-symbols_318-29778.jpg">
  <style>
    #choreoMenu{
      width: 400px;
      height: 600px;
      background-color: lightgrey;
      border-radius: 20px;
      margin: auto;
      padding: 20px;
    }
    /*a {
      color:#0000EE;
      text-decoration: none;
    }
    a:visited {
      color:#0000EE;
    }
    a:hover {
      text-decoration: underline;
    }
    a:active {
      color:#EE00EE;
    }*/
    .choreoObject{
      margin: 10px;
      padding: 10px;
      cursor: pointer;
      height: 40px;
      vertical-align: top;
      border-radius: 10px;
      background-color: #EEEEEE;
      color: black;
      text-align: left;
    }
    .choreoObject:hover{
      background-color: #E0E0E0;
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <h1>— Edit —</h1>
  <h3>You are logged in as... <span id="username"><%=username%></span></h3>
  <a href="/view"><div class="clickable"><div class="vertAlignDiv"><b>View Choreographies</b></div></div></a><a href="/"><div class="clickable"><div class="vertAlignDiv"><b>Back to Homepage</b></div></div></a>
  <a href="/logout"><div class="clickable"><div class="vertAlignDiv"><b>Log Out</b></div></div></a>
  <%if(status){%>
    <br><div class="errorDiv">
      Error: <%if(status=='permission'){%>You do not have permission to edit this choreography.
      <%}else{%>
        We couldn't find the choreo "<%=status.substring(4)%>"
      <%}%>
    </div><br>
  <%}%>
  <div id="choreoMenu">
    <%if(data.length>0){%>
      <h3>Your choreographies</h3>
      <%for(var i=0; i<data.length; i++){%>
        <a class="plainlink" href="/edit/?id=<%=data[i].choreoName%>"><div class="choreoObject"><%=data[i].choreoName%></div></a>
      <%}%>
    <%}else{%>
      <h3>Nothing to see here (yet)</h3>
    <%}%>
    <a class="plainlink" href="/edit/create">Create a new choreography!</a>
  </div>
</body>

</html>
