<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome to ChoreoMap</title>
  <link rel="stylesheet" href="all.css">
</head>
<body>
  <h1>— Welcome! —</h1>
  <h3>Log In or Sign Up?</h3>
  <a href="/index"><div class="clickable"><div class="vertAlignDiv"><b>View Choreographies</b></div></div></a>
  <a href="/login"><div class="clickable"><div class="vertAlignDiv"><b>Edit Choreographies</b></div></div></a>
</body>

</html>
