<!DOCTYPE html>
<html lang="en">
<head>
  <title>ChoreoMap: Login</title>
  <link rel="stylesheet" href="all.css">
  <link rel="icon" href="https://image.freepik.com/free-icon/musical-notes-symbols_318-29778.jpg">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="all.js"></script>
  <style>
  </style>
</head>
<body>
  <h1>— Please Log In —</h1>
  <a href="/"><div class="clickable"><div class="vertAlignDiv"><b>Back to homepage</b></div></div></a>
  <%if(status){%>
    <br>
    <div class="errorDiv">Error: Incorrect username or password.</div><br>
  <%}%>
  <form action="/login" method="POST" onsubmit="return checkLogin(this)">
    <div>
      <label>Username:</label>
      <input type="text" name="username" placeholder="Username" autocomplete="off">
    </div>
    <div>
      <label>Password:</label>
      <input type="password" name="password" placeholder="Password">
    </div>
    <button type="submit">Log in</button>
  </form>
  <a href="/signup" class="plainlink">Don't have an account? Sign up</a>
</body>

</html>
