<!DOCTYPE html>
<html lang="en">
<head>
  <title>ChoreoMap: 404</title>
  <link rel="stylesheet" href="../all.css">
  <link rel="icon" href="https://image.freepik.com/free-icon/musical-notes-symbols_318-29778.jpg">
</head>
<body>
  <h1>Error: we couldn't find the choreo "<%=choreoName%>"</h1>

  <a href="/view"><div class="clickable"><div class="vertAlignDiv"><b>Back to the view index</b></div></div></a>
  <a href="/edit"><div class="clickable"><div class="vertAlignDiv"><b>Back to the edit index</b></div></div></a>
  <a href="/"><div class="clickable"><div class="vertAlignDiv"><b>Back to homepage</b></div></div></a>
</body>

</html>
