<!DOCTYPE html>
<html lang="en">
<head>
  <title>ChoreoMap: Sign Up</title>
  <link rel="stylesheet" href="all.css">
  <link rel="icon" href="https://image.freepik.com/free-icon/musical-notes-symbols_318-29778.jpg">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="all.js"></script>
</head>
<body>
  <h1>— Sign Up —</h1>
  <h3>Thank you for deciding to join!</h3>
  <a href="/"><div class="clickable"><div class="vertAlignDiv"><b>Back to Homepage</b></div></div></a>
  <p>Please enter:</p>
  <form action="/signup" method="POST" onsubmit="return checkSignup(this)">
    <div>
      <label>Username:</label>
      <input type="text" name="username" placeholder="Username" autocomplete="off">
    </div>
    <div>
      <label>Password:</label>
      <input type="password" name="password" placeholder="Password">
    </div>
    <div>
      <label>Confirm Password:</label>
      <input type="password" name="passwordConfirm" placeholder="Password">
    </div>
    <button type="submit">Sign Up</button>
  </form>
  <a href="/login" class="plainlink">Already have an account? Log in</a><br>
</body>

</html>
