<!DOCTYPE html>
<html lang="en">
<head>
  <title>ChoreoMap: Create New Choreo</title>
  <link rel="stylesheet" href="../all.css">
  <link rel="icon" href="https://image.freepik.com/free-icon/musical-notes-symbols_318-29778.jpg">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../all.js"></script>
  <style>
  </style>
  <script>
    //onload, do an asynchronous check to load the choreo
    //have a spinning gif until the choreo loads
  </script>
</head>
<body>
  <h1>— View: <%=choreoName%> —</h1>
  <div>
    Cool viewing interface!
  </div>

  <a href="/view"><div class="clickable"><div class="vertAlignDiv"><b>Back to the View Index</b></div></div></a>
</body>

</html>
