<!DOCTYPE html>
<html lang="en">
<head>
  <title>ChoreoMap: View <%=choreoID%></title>
  <link rel="stylesheet" href="../all.css">
  <link rel="stylesheet" href="../editPage.css">
  <link rel="icon" href="https://image.freepik.com/free-icon/musical-notes-symbols_318-29778.jpg">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../viewPage.js"></script>
  <style>
  </style>
  <script>
    $(document).ready(function(){
      $.get("/choreoData?id=<%=choreoID%>", function(data){
        performers = data[0].performers;
        groups = data[0].groups;
        formations = data[0].formations;
        fileLink = data[0].fileLink;
        $("#testAudio").prop("src", "http://docs.google.com/uc?export=open&id=" + fileLink);
        audioElement.oncanplay = function(){
          startUp();
          audioElement.oncanplay = "";
        }
      });
    });
  </script>
</head>
<body>
  <h1>— View: <%=choreoID%> —</h1>
  <a href="/view"><div class="clickable"><div class="vertAlignDiv"><b>Back to the view index</b></div></div></a>
  <a href="/edit?id=<%=choreoID%>"><div class="clickable"><div class="vertAlignDiv"><b>Edit this choreo</b></div></div></a>
  <div id="editInterface">
    <div id="lEditSidebar">
      <h4>Performers</h4>
      <div id="performerList">
      </div>
      <h4>Groups</h4>
      <div id="groupList">
      </div>
    </div>

    <div id="canvasContainer">
      <button onclick="incrementTime(-1)" class="timeControlButton">« 1</button>
      <button onclick="incrementTime(-5)" class="timeControlButton">« 5</button>
      <audio id="testAudio" controls  src=""></audio>
      <button onclick="incrementTime(5)" class="timeControlButton">5 »</button>
      <button onclick="incrementTime(1)" class="timeControlButton">1 »</button>
      <br>
      Go to timecode: <input type="text" id="specTimeJump" placeholder="- - : - - . - (min : sec)" oninput="$('#specTimeJumpErr').hide()"> 
      <button class="smallButton" onclick="specTimeJump()">Go</button>
      <br><div class="errorDiv" id="specTimeJumpErr"></div>
      <br><br>
      <div id="loader">
        <img src="https://i.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.webp">
        <p>Loading...</p>
      </div>
      <div id="canvas"></div><br>
      <div id="instructions">
        <h4>Instructions</h4>
        <p>
          Should be pretty self-explanatory!<br>
          Click a formation on the right to move to that formation.<br>
          Select performers individually or by group by clicking on the element in the left sidebar.<br>
          You can select additional performers by holding [Shift] while clicking on the new performer.<br>
          Deselect performers by clicking on them. Deselect all by clicking on the canvas.<br>
          You can play through the choreography over the song.<br>
        </p>
      </div>
    </div>

    <div id="rEditSidebar">
      <h4>Formations</h4>
      <div id="formList">
      </div>
    </div>
  </div>
</body>
</html>