body{
  font-family: "Helvetica", sans-serif;
  text-align: center;
  padding-top: 20px;
  user-select: none;
  background-color: ##e8e8e8;
}

h1, h3{
  margin: 10px auto;
}

input{
  margin-top: 10px;
  outline:none;
}

/*a {
  color:#0000EE;
  text-decoration: none;
}
a:visited {
  color:#0000EE;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color:#EE00EE;
}*/

.clickable{
  margin: 10px;
  padding: 10px;
  height: 60px;
  min-width: 60px;
  max-width: 120px;
  vertical-align: top;
  border-radius: 10px;
  background-color: #CCCCCC;
  display: inline-block;
  color: black;
}
.clickable:hover{
  background-color: #DDDDDD;
  text-decoration: underline;
}

.vertAlignDiv{
  position: relative;
  top: 50%;
  transform: translateY(-55%);
}

button{
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  outline:none;
  font-size: medium;
  border: 0;
  background-color: #CCCCCC;
  cursor: pointer;
}
button:hover {
  background-color: #DDDDDD;
}

a{
  color: black;
  text-decoration: none;
}
a:visited{
  color: black;
}

.plainlink {
  color:#0000EE;
  text-decoration: none;
}
.plainlink:visited {
  color:#0000EE;
}
.plainlink:hover {
  text-decoration: underline;
}
.plainlink:active {
  color:#EE00EE;
}


.errorDiv{
  background-color: #ff7070;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  border-radius: 10px;
}

.noMargin{
  margin: 0;
}

#choreoMenu{
  width: 400px;
  height: 600px;
  background-color: lightgrey;
  border-radius: 20px;
  margin: auto;
  padding: 20px;
}
.choreoObject{
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  height: 40px;
  vertical-align: text-top;
  align-self: left;
  border-radius: 10px;
  background-color: #EEEEEE;
  color: black;
  text-align: left;
  display: inline-block;
  width: 300px;
}
.choreoObject:hover{
  background-color: #E0E0E0;
  text-decoration: underline;
}

.divInsert{
  padding: 10px;
  border-radius: 10px;
  background-color: #EEEEEE;
}
#searchButton{
  margin: 0;
  padding: 5px;
}

.duplicateLink{
  font-size: small;
}

.inlineDiv{
  display: inline-block;
  vertical-align: middle;
}