#canvas {
  display: none;
  background-color: white;
  border: 1px solid black;
  width: 600px;
  height: 450px;
  /*position: absolute;*/
  top: 0;
  bottom: 0;
  text-align: left;
}

#canvasContainer{
  display: inline-block;
}

#loader{
  display: inline-block;
  /*width:600px;*/
}

#lEditSidebar{
  width: 200px;
  background-color: lightgrey;
  padding: 10px;
  border-radius: 15px;
  float: left;
  font-size: 11pt;
}

#rEditSidebar{
  width: 200px;
  background-color: lightgrey;
  padding: 10px;
  border-radius: 15px;
  float: right;
  font-size: 11pt;
}

ul{
  text-align: left;
}

.divInsert{
  padding: 10px;
  border-radius: 10px;
  background-color: #e5e5e5;
  margin: 10px 0;
}

button{
  margin: 10px 0 0 0;
  vertical-align: top;
}

audio{
  vertical-align: top;
  margin-bottom: 10px;
}

input{
  margin: 5px 0;
}

h4, h5{
  margin: 10px 0;
}

.listElement{
  text-align: left;
}
.listElement:hover{
  filter:brightness(0.8);
  cursor: pointer;
}

/*.listElement>div{
  filter:none;
}*/

.colorSample{
  width: 16px;
  height: 16px;
  border: 2px solid black;
  /*display: inline-block;*/
  vertical-align: bottom;
}

#groupErr{
  display: none;
}

.circle{
  border-radius: 50%;
}

.inlineDiv{
  display: inline-block;
}
.editElements{
  display: none;
}

.listElement > .editHover{
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

/*.listElement > .editHover :hover{
  border: 0.5px solid lightgrey;
  background-color: white;
  padding: 3px;
}
.listElement > .editHover > .colorSample:hover{
  border: 2px solid black;
  padding: 0;
  cursor: pointer;
}*/

select{
  width: 120px;
}

input[type='number']{
  width: 40px;
}

.perfDot{
  position: relative;
  display: inline-block;
  margin: 0;
  width: 18px;
  height: 18px;
  border: 2px solid black;
  transition: linear;
  transition-property: top, left;
  /*tagHere change the dimensions?*/
}
.perfDot:hover{
  cursor: pointer;
  filter: brightness(0.8);
}

.dotSelected{
  background-color: #FF0000 !important;
}
.dotSelected:hover{
  cursor:grab;
}
.dotSelected:active{
  cursor:grabbing;
}

.perfLabel{
  position: relative;
  text-align: center;
  margin-left: -100%;
  margin-right: -100%;
  top: -18px;
  font-size: 9pt;
}

.listElementHighlight{
  background-color: #d9aaff;
}

.timeControlButton{
  font-size: small;
}
