body{
  min-width: 1071px;
}


/*general usage styling*/
.listElement{
  text-align: left;
  margin-right:5px; 
}
.listElement:hover{
  filter:brightness(0.8);
  cursor: pointer;
}
.circle{
  border-radius: 50%;
}
.divInsert{
  padding: 10px;
  border-radius: 10px;
  background-color: #e5e5e5;
  margin: 10px 0;
}
.inlineDiv{
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}


/*edit element styling*/
.editElements{
  display: none;
}
.editHover{
  border: 0;
  padding: 0;
  display: inline-block;
  cursor: pointer;
}
.editElements > a{
  font-size: small;
}
.editElements{
  vertical-align: text-top;
}
input{
  margin: 5px 0;
}
select{
  width: 120px;
}
input[type='number']{
  width: 40px;
}
input[type='color']{
  width: 16px;
  height: 20px;
  border: 1px;
}


/*dot styling*/
.perfDots{
  position: relative;
  display: block; /*inline-block;*/
  margin: 0;
  width: 18px;
  height: 18px;
  border: 2px solid black;
  transition: linear;
  transition-property: top, left;
  /*tagHere change the dimensions?*/
}
.perfDots:hover{
  cursor: pointer;
  filter: brightness(0.8);
}
.dotSelected{
  background-color: #FF0000 !important;
}
.dotSelected:hover{
  cursor:grab;
}
.dotSelected:active{
  cursor:grabbing;
}
.perfLabel{
  position: relative;
  text-align: center;
  margin-left: -100%;
  margin-right: -100%;
  top: -18px;
  font-size: 9pt;
}


/*specific element styling*/
.colorSample{
  width: 16px;
  height: 16px;
  border: 2px solid black;
  display: inline-block;
  vertical-align: bottom;
}
.timeControlButton{
  font-size: small;
}
button{
  margin: 10px 0 0 0;
  vertical-align: top;
}
.smallButton{
  margin: 0;
  padding: 5px;
  font-size: small;
}
.delButton{
  float: right;
  vertical-align: top;
}
.delButton:hover{
  font-weight: bold;
}
audio{
  vertical-align: top;
  margin-bottom: 10px;
}
h4, h5{
  margin: 10px 0;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #adadad;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #8e8e8e; 
}
ul{
  text-align: left;
}


/*very specific element styling*/
#canvas {
  display: none;
  background-color: white;
  border: 1px solid black;
  width: 600px;
  height: 450px;
  /*position: absolute;*/
  top: 0;
  bottom: 0;
  text-align: left;
}
#instructions{
  margin-top: 15px;
  width: 600px;
  text-align: center;
  background-color: lightgrey;
  padding: 10px;
  border-radius: 15px;
  font-size: 11pt;
}
#canvasContainer{
  display: inline-block;
}
#loader{
  display: inline-block;
  /*width:600px;*/
}
#lEditSidebar{
  width: 200px;
  background-color: lightgrey;
  padding: 10px;
  border-radius: 15px;
  float: left;
  font-size: 11pt;
}
#rEditSidebar{
  width: 200px;
  background-color: lightgrey;
  padding: 10px;
  border-radius: 15px;
  float: right;
  font-size: 11pt;
}
#performerList, #groupList, #formationList{
  max-height: 400px;
  overflow-y: scroll;
}
#fileLinkDiv{
  background-color: lightgrey;
  border-radius: 15px;
  font-size: 11pt;
  padding: 10px;
  display: inline-block;
}
#fileLinkDiv input[type="text"]{
  width: 250px;
}
#groupErr{
  display: none;
}
#specTimeJumpErr{
  font-size: small;
}


.listElementHighlight{
  background-color: #d9aaff;
}